*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #000039;
    color: #ffffff;   
}
.introduction{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:28px 5%;
    background-color: transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;

}
.logo{
    font-size:35px;
    color:#ffffff;
    text-decoration: none;
    font-weight:600;
    margin-left: 0px;
}
.logo:hover{
    color:#0000E3;
}
.navbar a {
    font-size: 24px;
    color:#ffffff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
    transition:0.3s;
     
}
.navbar a:hover,
.navbar a.active{
    color:#0000E3;

}
.contact{
    max-width: 100%;
    padding:0 12%;
    height: 100vh;
    max-height: 750px;
}
.contact h2{
    text-align:center;
    margin-top: 90px;
}
.contact-way{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 59px auto;
}
.contact-way h4{
    font-weight: 700px;
    margin-bottom: 18px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    flex:1;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3.5px;
    background-color: #2C4562; 
    color: #ccc; 
    flex:2;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #ccc; 
}

textarea {
    height: 100px;
}

button {
    padding: 10px;
    border: none;
    background-color:  #2C4562; 
    color: white;
    cursor: pointer;
    margin-top: 30px;
    width:150px;
    height:40px;
    text-align: center;
}
.icon{
    position:absolute;
    bottom:40px;
    width: 170px;
    display:flex;
    justify-content: space-between ;
    margin-left: 100px;
}
.icon a{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background: transpatent;
    border:2px solid #00abf0;
    border-radius: 50%;
    font-size:20px;
    color:#00abf0;
    text-decoration:none;

}
footer{
    position: relative;
    text-align:center;
    font-size:15px;
    color:#ffffff;
    margin-bottom: 10px;
}
@media (max-width: 768px) and (orientation: portrait) {

    .logo{
        font-size: 20px;
        font: weight 500px;;
    }

    .contact-way{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        margin-left: 20px;
    }
    .contact-way div{
        margin-bottom: 30px
    }
    .contact-way h4{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .icon{
        bottom: -130px;
        margin-left: -20px;
        margin-top: 30px;
        width: 100px;
      
    }
    .icon a{
        margin-right: 3px;
        margin-bottom: 5px;
        font-size: 19;
        padding: 0;
    }

    footer{
        font-size: 9px;
        margin-top: 65px;  
    }
    label {
        font-size: 12px;
    }
        
    button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar a{
        font-size: 13px;
        margin-bottom: 3px;
        font-weight:200;
    }

    .navbar  {
        font-size: 40px;
        border-radius: 10px;
        background-color:#2C4562;
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        height: 110px;
        padding: 10px 0;
        z-index: 1000;

        
      }
      .navbar.active {
        display: flex;
    
      }
     /* Hamburger Menu */
 .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
}
/* Media Query for Mobile Landscape */
@media (max-width: 768px) and (orientation: landscape) {

  .logo {
    font-size: 20px;
  }
  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
  
  .navbar  {
    font-size: 40px;
    border-radius: 10px;
    background-color:#2C4562;
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 120px;
    height: 110px;
    padding: 10px 0;
    z-index: 1000;
  }
  .navbar.active {
    display: flex; 
  }
  .navbar a {
    font-size: 1rem;
  
  }
  .contact-way{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
    margin-left: 200px;
}
.icon{
    bottom: -500px;
    width: 150px;
    height: 4px;
    margin-left: -80px;
}
.contact-way div{
    margin-bottom: 10px
}
.contact-way h4{
    margin-bottom: 10px;
    font-size: 15px;
}

footer{
    /* font-size: 9px; */
    margin-top: 450px;  
}

}
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
    .icon{
        margin-bottom: 230px;
       
    }
    .icon a{
        margin-left: 5px;
    }

}

