*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #090815;
    color: #ffffff;   
}
.introduction{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:28px 5%;
    background-color: transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;

}
.logo{
    font-size:35px;
    color:#ffffff;
    text-decoration: none;
    font-weight:600;
    margin-left: 0px;
}
.logo:hover{
    color:#0000E3;
}
.navbar a {
    font-size: 24px;
    color:#ffffff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
    transition:0.3s;
     
}
.navbar a:hover,
.navbar a.active{
    color:#0000E3;

}
.home{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.home-content{
    max-width: 60%;
    padding:0 12%;
    order:0;
}   
.home-content h1{
    font-size:32px;
    font-weight:700;
    margin-bottom: 30px;
}
.blue{
    color:#000071;
}
.home-content .tab{
    width:400px;
    height: 70px;
    display:flex;
    justify-content: space-between;
    margin-top: 150px;
}
.tab a{
    position:relative;
    width:173px;    
    height:100%;
    background: #1014EF ;
    border:2px solid #1014EF;
    border-radius: 15px;
    display: inline-flex;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    letter-spacing: .5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;

}
.tab a:hover{
    color:#1014EF
}
.tab a:nth-child(2){
    background: transparent;
    color: #1A1AFF;
}
.tab a:nth-child(2):hover{
    color:#090815
}
.tab a:nth-child(2)::before{
    background:#1A1AFF; ;
}
.tab a::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background:#090815 ;
    z-index: -1;
    transition:0.5s;
}
.tab a:hover::before{
    width:100%;
}
.icon{
    position:absolute;
    bottom:40px;
    width: 170px;
    display:flex;
    justify-content: space-between ;
    margin-left: 100px;
}
.icon a{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background: transpatent;
    border:2px solid #00abf0;
    border-radius: 50%;
    font-size:20px;
    color:#00abf0;
    text-decoration:none;

}
.home-img{
    margin: 0 auto;
}
.home-img img{
    height:auto;
    width:400px;
}
footer{
    position: relative;
    text-align:center;
    font-size:15px;
    color:#ffffff;
    margin-bottom: 10px;
}

/* Media Query for Mobile Portrait */
@media (max-width: 768px) and (orientation: portrait) {

    .logo{
        font-size:25px;
        font-weight: 500;
    }
 
   
    .home{
        display: flex;
        flex-direction: column;
        margin-top: 118px;
        margin-left: 60px;
        margin-right: auto;
    }

    .home-content{
        max-width: 100%;
        order:2;
        

    } 
    .home-content h1{
        font-size:22px;
        font-weight:300px;
    }

    .home-content .tab{
        width:300px;
        height: 53px;
        margin-top: 58px;
        margin-left: -29px;
    }

    .tab a{
        font-size: 17px;
        margin-left: 30px;
    }
    .icon{
        
        bottom: -250px;
        width: 150px;
        height: 4px;
        margin-left: -200px;
    }

    .home-img{
        margin: 0 auto;
        margin-bottom: -200px;

    }
    .navbar a{
        font-size: 13px;
        margin-bottom: 3px;
        font-weight:200;
    }

    .navbar  {
        font-size: 40px;
        border-radius: 10px;
        background-color:#2C4562;
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        height: 110px;
        padding: 10px 0;
        z-index: 1000;
      }
      .navbar.active {
        display: flex;
    
      }
    
    footer{
        font-size:10px;
        margin-top: 200px;
        margin-left: 100px;
    }
 /* Hamburger Menu */
 .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
  

  }
  /* Media Query for Mobile Landscape */
@media (max-width: 768px) and (orientation: landscape) {

  .logo {
    font-size: 20px;
  }
  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
  
  .navbar  {
    font-size: 40px;
    border-radius: 10px;
    background-color:#2C4562;
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 120px;
    height: 110px;
    padding: 10px 0;
    z-index: 1000;
  }
  .navbar.active {
    display: flex; 
  }
  .navbar a {
    font-size: 1rem;
  
  }

  .home{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
   
  }
  .home-content{
    order: 2;
   
  }
  .home-content h1 {
    font-size: 20px;
    margin-bottom: 8px;
    
  }
  .home-img img {
    width: 90%; 
    height: 130px;
    margin-top: 10px;
    order: 1;
  }
  .home-content .tab a {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    width:100px;
    height: 30px;
    margin-top: 9px;
  }
  .home-content .tab{
    width:300px;
    height: 53px;
    margin-top: 10px;
    margin-left: 0px;
}
.icon{
    bottom: -20px;
    width: 150px;
    height: 4px;
    margin-left: -500px;
}
footer{
    font-size:10px;
    margin-top: 50px;
    margin-left: 100px;
}

  
  }

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
 
    
    .home{
        height:100vh;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 90px;
        
    }
    .home-content h1{
        font-size:32px;
        font-weight:700;
        margin-bottom: 20px;
    }
    
    .home-content .tab{
        width:400px;
        height: 70px;
        display:flex;
        justify-content: space-between;
        margin-top: 100px;
    }
    .tab a{
        position:relative;
        width:173px;    
        height:100%;
        background: #1014EF ;
        border:2px solid #1014EF;
        border-radius: 15px;
        display: inline-flex;
        font-size: 24px;
        text-decoration: none;
        color: #000000;
        letter-spacing: .5px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        z-index: 1;
        overflow: hidden;
        transition: 0.5s;
    
    }
    .icon{
        position:absolute;
        bottom:40px;
        width: 170px;
        display:flex;
        justify-content: space-between ;
        margin-left: -600px;
    }
 
    .home-img{
        margin: 10px 10px auto;
        margin-bottom: 2px;
    }
    .home-img img{
        height: auto;
        width:400px;
        margin-bottom: 0px;
    }
    footer{
        /* position: relative; */
        text-align:center;
        font-size:15px;
        color:#ffffff;
        margin-bottom: 3px;
        margin-top: 20px;
    }
  }
  
  

  
