*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #090815;
    color: #ffffff;   
}
.introduction{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:28px 5%;
    background-color: transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;

}
.logo{
    font-size:35px;
    color:#ffffff;
    text-decoration: none;
    font-weight:600;
    margin-left: 0px;
}
.logo:hover{
    color:#0000E3;
}
.navbar a {
    font-size: 24px;
    color:#ffffff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
    transition:0.3s;
     
}
.navbar a:hover,
.navbar a.active{
    color:#0000E3;
}
.sections{
    margin-bottom: 90px;
}
.sections h1{
    text-align: center;
    margin-top: 90px;
}
.articles{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  
}
article{
    width:50%;
    max-width:350px;
    margin:0 auto;
}
.skill-list{
    background:#2C4562;
    margin:30px auto;
    border-radius: 12px;
    padding:5px 5%;
}
.skill-list h3{
    font-weight: 580px;
    text-align: center;
}
.skill-list p{
    text-align:center;
    line-height: 20px;
}
footer{
    position: relative;
    text-align:center;
    font-size:15px;
    color:#ffffff;
    margin-bottom: 10px;
}

@media (max-width: 768px) and (orientation: portrait) {

    .logo{
        font-size: 20px;
        font: weight 500px;;
    }
   
    .sections h1{
        font-size: 20px;
    }
    .articles{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
      
    }
    .skill-list{
        background:#2C4562;
        margin:30px auto;
        border-radius: 12px;
        padding:5px 5%;
        width: 250px;
    }
    .navbar a{
        font-size: 13px;
        margin-bottom: 3px;
        font-weight:200;
    }

    .navbar  {
        font-size: 40px;
        border-radius: 10px;
        background-color:#2C4562;
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        height: 110px;
        padding: 10px 0;
        z-index: 1000;

        
      }
      .navbar.active {
        display: flex;
    
      }
     /* Hamburger Menu */
 .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
}
  /* Media Query for Mobile Landscape */
@media (max-width: 768px) and (orientation: landscape) {

    .logo {
      font-size: 20px;
    }
    .introduction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
    }
    .menu-toggle {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
    }
    
    .menu-toggle .bar {
      width: 25px;
      height: 3px;
      background-color: #fff;
    }
    
    .navbar  {
      font-size: 40px;
      border-radius: 10px;
      background-color:#2C4562;
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 120px;
      height: 110px;
      padding: 10px 0;
      z-index: 1000;
    }
    .navbar.active {
      display: flex; 
    }
    .navbar a {
      font-size: 1rem;
    
    }
    .articles{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
      
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
    .sections h1{
        font-size: 30px;
        margin-bottom: 40px;
    }
    .articles{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
      
    }
    .skill-list{
        width: 300px;
        height: 300px;
    }
    .skill-list h3{
        font-weight: 580px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .skill-list p,
    .skill-list li{
        font-size: 18px;
        text-align:center;
        line-height: 22px;
    }
    footer{
        position: relative;
        text-align:center;
        font-size:15px;
        color:#ffffff;
        margin-bottom: 10px;
    }

}