*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #090815;
    color: #ffffff;   
}
.introduction{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:28px 5%;
    background-color: transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;

}
.logo{
    font-size:35px;
    color:#ffffff;
    text-decoration: none;
    font-weight:600;
    margin-left: 0px;
}
.logo:hover{
    color:#0000E3;
}
.navbar a {
    font-size: 24px;
    color:#ffffff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
    transition:0.3s;
     
}
.navbar a:hover,
.navbar a.active{
    color:#0000E3;

}
img{
    width:170px;
    height:100px;
    margin-top: 10px;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:  60px 90px 5%;
}
.service{
    max-width: 400px;
    width:100%;
    max-height: 400px;
    height: 100vh;
    margin:0 auto;
    text-align: center;

}
h2{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 90px;
}
footer{
    position: relative;
    text-align:center;
    font-size:15px;
    color:#ffffff;
    margin-bottom: 10px;
}

/* Media Query for Mobile Portrait */
@media (max-width: 768px) and (orientation: portrait) {
    .container{
        flex-direction: column;
    }
    .logo{
        font-size: 20px;
        font: weight 500px;;
    }
  
    .container{
        padding:  10px 90px 5%;
        
    }
    h2{
        margin-top: 100px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 23px;
    }
    .service p{
        width: 200px;
        margin-right: 30px;
        align-items: center;
        left: -400px;
    }
    img{
        width:200px;
    }
    .service{
        align-items: center;
        height: 300px;
        padding-bottom: -90px;
    } 
    .navbar a{
        font-size: 13px;
        margin-bottom: 3px;
    }

    .navbar  {
        font-size: 40px;
        border-radius: 10px;
        background-color:#2C4562;
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        height: 110px;
        padding: 10px 0;
        z-index: 1000;

        
      }
      .navbar.active {
        display: flex;
    
      }
     /* Hamburger Menu */
 .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
  }

}

 /* Media Query for Mobile Landscape */
  @media (max-width: 768px) and (orientation: landscape) {

    .logo {
      font-size: 20px;
    }
    .introduction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
    }
    .menu-toggle {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
    }
    
    .menu-toggle .bar {
      width: 25px;
      height: 3px;
      background-color: #fff;
    }
    
    .navbar  {
      font-size: 40px;
      border-radius: 10px;
      background-color:#2C4562;
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 120px;
      height: 110px;
      padding: 10px 0;
      z-index: 1000;
    }
    .navbar.active {
      display: flex; 
    }
    .navbar a {
      font-size: 1rem;
    
    }
    .container{
        flex-direction: column;
        padding-top: 3px;
        padding-bottom: 0px;
      
        
    }
    .services h2{
        margin-bottom: 50px;
        margin-top: 50px;
    }

}

    /* tablet */
    @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
        .service p{
            margin-left: 50px;
            width: 300px;
            margin-top: 20px;
            font-size: 20px;
            
        }
        h2{
            margin-top: 130px;
            text-align: center;
            margin-bottom: 60px;
            font-size: 35px;
        }
        .service h3{
            font-size: 25px;
        }
        .service{
            margin-bottom: 50px;
        }
        
    }

